################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScriptSearch/node_modules/typings
/ScriptSearch/node_modules/typescript
